/* General Styles */
.slider-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.card-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.card-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out; /* Smooth sliding animation */
}

.card {
  display: flex;
  width: 100%;

 
}

.card-item {
  min-width: 100%; /* Each card takes up the full width of the slider */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.card-item img {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-item h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.card-item p {
  font-size: 16px;
  color: #666;
}

/* Slider Buttons */
/* .slider-btn {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

.prev {
  left: 10px;
}

.next {
  right: 10px;
}